@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit:wght@300&display=swap");

body {
    background-color: blanchedalmond;
    font-family: "Agbalumo", sans-serif;
}

hr {
    width: 300px;
    
}
