body {
    background-image: url(https://media2.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy.gif?cid=6c09b952aikzvfo4d038yh8wffw9j0oqkbnq80ii2bry2ogo&ep=v1_gifs_search&rid=giphy.gif&ct=g);
}

p {
    font-weight: bold;
}